* {
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}

body {
   background-color: #d1d8da;
   border-bottom: #303041;
}

#top {
   background-color: #303041;
   text-align: center;
   position: relative;
   top: 10px;
   width: 100%;
   height: 60px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 30px;
   color: #d1d8da;
   letter-spacing: 2px;
   font-size: 2rem;
}

#main-div {
   display: flex;
   justify-content: center;
   border-radius: 3px;
   margin: 10px;
   position: relative;
   padding: 20px;
   flex-wrap: wrap;
}

#main-div::before {
   content: "";
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 300px;
   background-color: #303041;
   clip-path: polygon(0 100%, 100% 100%, 0 0); 
   z-index: -1; 
}

#left-div, #right-div {
   display: flex;
   flex-direction: column;
   padding: 20px;
   margin-bottom: 50px;
}

#left-div {
   background-color: #616163 ;
   height: auto;
   width: 40%;
   max-width: 300px;
   border: none;
   margin-right: 0;
   box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.3);


}

#right-div {
   background-color:  #d1d8da;
   height: auto;
   width: 48%;
   max-width: 550px;
   box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.3);
   margin-left: 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 20px;
}

.img {
   height: auto;
   max-width: 70%;
   border: 2px solid black;
   margin-left: 15%;
   margin-left: 15%;

}

.fname {
   color: #111b07;
   font-style: italic;
   font-family: sans-serif;
   font-weight: 600; 
   font-size: 5rem; 
   width: 60%;
   margin: 20px 0px 0px 0px;
   text-transform: uppercase;
   padding: 20px 0px 10px 20px;
   display: flex;
   justify-content: flex-start;
   position: relative;
   right:15%;

}

.fname::after {
   content: '';
   position: absolute;
   bottom: 0;
   left: 5%; 
   width: 100%; 
   height: 5px; 
   background-color: black;
}


.lname {
   color: #111b07;
   font-style: italic;
   font-family: fantasy;
   font-weight: 80; 
   font-size: 3rem; 
   width: 80%;
   text-transform: capitalize;
   text-align: center;
   letter-spacing: 10px;
   position: relative;
   left: 10%;
   
}

.about, .skill, .contact {
   color: #B68F40;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 1.8rem; 
   width: 90%;
   text-align: center;
   background-color: #000000;
   border-top: 1px solid white;
   border-bottom: 1px solid white;
   padding: 2% 0;
   margin-top: 20%;
   margin-bottom:5%;
   margin-left: 5%;
   margin-right: 5%;

}


.me, .sk {
   color: white;
   text-align: start;
   font-size: 1.3rem; 
   /* margin: 10px 20px; */
   margin-left: 5%;
   margin-right: 5%;
   line-height: 95%;
   padding-top: 10%;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sk{
   margin-left: 15%;
   line-height: 40px;
   font-size: 1.5;
}

#phone {
   background-color: white;
   color: rgb(0, 0, 0);
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 5px;
   width: 80%;
   margin: 2px auto;
   border-radius: 5px;
   box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
   font-size: 1rem;
   margin-bottom: 5%;
   line-height: 10px;
}

.exp, .edu {
   color: #222020;
   font-size: 2.5rem; 
   width: 90%;
   margin: 15px auto;
   border-bottom: 1px solid gray;
   text-align: left;
   margin-top: 12%; 
}

.title, .degree {
   color: rgb(23, 84, 94);
   font-size: 2rem; 
   width: 90%;
   margin: 10px auto;
   text-align: left;
}

.c-name, .schl {
   color: rgb(91, 89, 89);
   font-size: 1.5rem;
   width: 90%;
   margin: 10px auto;
   text-align: left;
 font-style: oblique;

}


.my-exp, .study {
   color: rgb(58, 53, 53);
   font-size: 1.6rem; 
   width: 90%;
   margin: 10px auto;
   text-align: start;
   line-height: 85%;
   margin-top: 10%;
}

#toggle {
   width: 80%;
   border-radius: 20px;
   justify-content: center;
   font-size: 1rem;
   color: #fff7f7;
   cursor: pointer;
   background-color: #000000;
   align-items: center;
   position: relative;
   transform: o.3s;
   border-color: #fff;
   margin-left: 10%;
   margin-top: 20%;
      border-top: 1px solid white;
      border-bottom: 1px solid white;

}

#toggle:hover{
background-color: #fff;
color: black;
border-color: #000000;

}

#skill-div{
   display: block;
}

@media (max-width: 1200px) {
   #left-div, #right-div {
      width: 50%; 
      box-sizing: border-box;
   }

   #right-div {
      margin-left: 0;
   }

   .fname::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 140%; 
      height: 5px; 
      background-color: black;
    }
   
   .fname{
      font-size: 4.5rem;
      position: relative;
      right: 20%;
   }

   .lname{
      font-size: 3rem;
   }
 .about, .skill, .contact, .me, .sk, #contact-heading, #phone,  .title, .degree, .c-name, .schl, .my-exp, .study {
      font-size: 1.6rem;
   }
   .my-exp, .study {
      font-size: 1.5rem; 
      line-height: 25px;
   }
   .exp,.edu{
      font-size: 2rem;
      margin-top: 15%;
   }
   #phone{
      font-size: 1.2rem;
   }
}

@media (max-width: 768px) {
   #left-div, #right-div {
      width: 50%; 
box-sizing: border-box;   
}

 
   .fname::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 15%;
      width: 150%; 
      height: 5px; 
      background-color: black;
    }
   
   .fname{
      font-size: 2rem;
      position: relative;
      right: 20%;
   }

   .lname{
      font-size: 1.6rem;
      position: relative;
      right: 10%;

   }

   .about, .skill, .contact {
      font-size: 1.2rem;
   }

   .me, .sk {
      font-size: 0.9rem;
   line-height: 20px;

   }

  
   #phone {
      font-size: 0.9rem;
      width: 100%;
   }

   .exp, .edu {
      width: 100%;
      font-size: 0.9rem; 
      margin-top: 15%;
   }

   .edu{
      margin-top: 10%;
   }
   .title, .degree {
      font-size: 0.8rem; 
      margin-left: 2%;
   }

   .c-name, .schl {
      font-size: 0.8rem; 
      margin-left: 2%;

   }

   .my-exp, .study {
      font-size: 0.8rem; 
      line-height: 15px;
      margin-left: 2%;
   }

   .study{
      margin-bottom: 50px;
   }
   .img {
      max-width: 70%;
      margin-left: 10%;
      margin-right: 10%;
      
   }
}


